@import '../../../../style/mixin.scss';

.planMobile {
  padding: 6.25rem 0 5rem;

  @include container-md {
    @supports (height: 100dvh) {
      height: 100dvh;
    }
  }
  background-color: var(--gray-100);
}

.title {
  text-align: center;

  margin-bottom: 2rem;

  @include container-md {
    margin: 0;
    margin-bottom: var(--size-500);
  }
}

.timeline {
  gap: var(--space-500);
}

.timelineBar {
  border-radius: 1.65625rem;
  background: var(--gray-050);
  margin: 0;
}

$timeline-fill-ratio-md: (
  1: 17%,
  2: 33.2%,
  3: 49.4%,
  4: 65.6%,
  5: 81.6%,
  6: 100%,
);

$timeline-fill-ratio-xs: (
  1: 14%,
  2: 31.2%,
  3: 48.4%,
  4: 65.4%,
  5: 82.5%,
  6: 100%,
);

.timelineFillBar {
  width: -webkit-fill-available;
  background-color: var(--blue-500);
  border-radius: 1.75rem;

  transition: height 0.5s ease-in-out;
}

@each $month, $fillRatio in $timeline-fill-ratio-xs {
  .fillRatio#{$month} {
    height: $fillRatio;
  }
}

@include container-md {
  @each $month, $fillRatio in $timeline-fill-ratio-md {
    .fillRatio#{$month} {
      height: $fillRatio;
    }
  }
}

.monthText {
  padding: 3.56rem 0 4.5rem;

  @include container-md {
    padding: 2.06rem 0 2.63rem;
  }
}

.monthTextClickable {
  margin: 0;
  cursor: pointer;
  color: var(--gray-400);

  width: 3.5rem;

  z-index: 1;

  &.active,
  &.prev {
    color: var(--gray-000);
  }
}

.cardContent {
  width: 16.375rem;
  height: 100%;

  @include container-md {
    width: 18.875rem;
    height: 9.875rem;
  }

  background-color: var(--gray-200);
  border-radius: 1rem;
  padding: 1rem;

  & > h5,
  & > p {
    color: var(--info);
  }

  & svg > path {
    fill: var(--info);
  }

  &.selected {
    background-color: var(--gray-000);
    border: 2px solid var(--blue-500);
    & > p,
    & > h5 {
      color: var(--gray-900);
    }
    & svg > path {
      fill: var(--gray-900);
    }
  }
}

.icon {
  margin-bottom: 0.25rem;
  & > svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.cardTitle {
  margin-bottom: 1rem;
}

.cardDescription {
  margin: 0;
}

.cardList {
  display: grid;
  gap: 1rem;

  grid-template-columns: 1fr;

  @include container-md {
    grid-template-columns: 1fr 1fr;
  }
}
